body{
    background-image:url(../Wallpaper/ControlGame.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
}

#blink{
    font-family: "Phetsarath OT"; 
    color: #76fbe3;  
}

.lblNormal{
    font-weight: 400;
    color: #76fbe3;
    font-family:"Phetsarath OT";
    font-size:20px;
}

.cmbNormal{
    font-size: 16;
    color: rgb(51, 161, 239);
    font-family:"Phetsarath OT";
}

.lstElemento{
    color:#FFFFFF;
    font-size: 18PX;
    font-family:"Phetsarath OT";
}

